.selected {
	font-weight	: bold;
	display		: block;
}
[data-binder-tmpl],
#results,
.hidden   {
	display	: none;
}
input[type=radio] {
	-webkit-appearance	: radio;
}
input[type=checkbox] {
	-webkit-appearance	: checkbox;
}
input:disabled {
	opacity	: .6;
}
/* General */
html {
	background-color	: #333;
}
body {
	background-color	: #333;
	text-shadow			: none;
	float				: left;
	width				: 100%;
	color				: #EFEFEF;
}
h1 {
	color		: #FFF;
}
body > header {
	float			: left;
	clear			: both;
	width			: 100%;
	padding			: 10px 0;
}
body > header img {
	height		: 50px;
	margin-left	: 10px;
	display		: inline-block;
}
body > header h1 {
	margin			: 0 0 0 10px;
	font-size		: 35px;
	line-height		: 50px;
	display			: inline-block;
	vertical-align	: top;
}
body > section {
	float			: left;
	padding			: 0 10px;
}
/* Home tab */
#home > form,
#home > ul,
#home > section {
	float			: left;
	clear			: both;
	border-top		: 1px dotted #555;
	padding			: 10px 0;
}
#home > form > fieldset,
#home > form > button {
	float		: left;
	margin-top	: 10px;
}
#home > form > button {
	margin-left	: 20px;
}
section.player {
	position : relative;
}
section.player > div.player {
	position	: absolute;
	left		: 0;
}
section.player > div.player button {
	margin-top	: 10px;
}
section.player > div.player div:empty + button {
	display		: none;
}
div.playlist:empty {
	display		: none;
}
div.playlist {
	float		: right;
	margin-left	: 140px;
	min-height	: 180px;
}
div:empty + #history {
	margin-top	: -26px;
}
#history {
	float		: left;
	clear		: left;
	border-top	: 1px dotted #555;
	margin-top	: 10px;
    width       : 870px;/*8 slides*/
    overflow    : hidden;
}
#history h1 {
	margin-top	: 10px;
}

#history > nav {
    -webkit-transition: 0.5s left;
    position: relative;
}

#history > nav > div {
	float	: left;
	margin	: 0 10px 10px 0;
}
/* Settings tab */
#settings form  {
	float	: left;
	clear	: both;
}
#settings form > section  {
	float			: left;
	border-top		: 1px dotted #555;
	padding-top		: 1em;
	margin-right	: 1px;
}
#settings form > section  + section {
	padding-left	: 20px;
}
#settings form > section > h1 {
	font-weight	: bold;
	margin		: 0 0 1em 0;
	font-size	: 13px;
	float		: left;
	clear		: both;
}
#settings fieldset {
	margin	: 1em 0;
	float	: left;
	clear	: both;
}
#settings h1 + fieldset {
	margin-top	: 0;
}
#settings legend {
	font-weight		: bold;
	margin-bottom	: 0.5em;
	padding			: 0;
}
#settings label {
	float		: left;
	clear		: both;
	width		: 150px;
}
#settings fieldset label {
	min-height	: 0;
}
#settings label {
	padding-right	: 50px;
	position		: relative;
	min-height		: 25px;
}
#settings label input {
	position	: absolute;
	top			: 0;
	right		: 0;
}
#settings button {
	float		: left;
	clear		: both;
	margin-top 	: 1em;
}
